body{
    background-color: black;
    text-align: center;
}
#pic1{
    scale: 30%;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: -40rem;

    /* Need to have solid or border won't show up. */
    border: 10rem solid red;
}
#cap1{
    position: relative;
    border: 10px solid white;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    top: -90rem;

    color: white;
}
