body{
    text-align: center;
    background-color: black;
}
.title{
    background-color: chartreuse;
    /* spacing */
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 50%;
}
.text{
    position: relative;
    width: 50%;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;

    border: solid chartreuse;
    color: chartreuse;
}